page-list {


  .bg-image{
    background: linear-gradient(to top ,rgba(185, 146, 15, 0.699),rgb(25, 0, 51),white);

    margin-left: auto;
    margin-right: auto;


  }

  .card{
    width: 113%;
    height:32%;

    margin-left: -18px;
    margin-top: -15px;
    background-color: transparent;
    border-radius: 3px;
    padding-left: 0%;

  }
  .btt{

    background-color: rgb(218, 38, 6);

  }
  ul {

    padding: 0px;
    text-align: center;
    margin-top: 0%;
    &.rating li {
      padding: 4px 5px !important;
      background: none;
      color: #ffb400;
      margin-top: 0px;
      ion-icon {
        font-size: 20px;
      }
    }
  }
  .bar{

    margin-top: -1%;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    width: 107%;
    height:11%;
    border-radius: 3px;
  }

  h2{
    text-transform: uppercase;
  }
  #az{
    color: gray;
    background-color: transparent;
    margin-top: 0%;
    width: 100%;
    height:100%;
  }
  #tn-flowing{
    height: 95%;
    width: 100%;
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    color: red;
    background-color: yellow;
    border-radius: 8px;


  }
  #btnrecom{
    width: 100%;
    height: 12%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffb400;
  }
  #btnrecomcard{
    width: 120%;
    height: 100%;
    // background-color: white;
    //background-color: blueviolet;
    margin-right: auto;
    margin-left: auto;
  }

  #btnadd{
    // margin-top: auto;
    // background-color: black;
    width: 30px;
    height: 100%;
    //  border-radius: 49px;

    margin-left: 20%;
    // margin-right: auto;
    // margin-top: 0%
  }
  #dim{

    width: 100%;
    height: 8%;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
  }
  #bg{
    //background-color: aqua;
    background: linear-gradient(to left ,rgba(185, 146, 15, 0.699),white);
    margin-top: 0%;
    width: 176%;
    height: 100%;
    margin-left: auto;
    margin-left: auto;
  }
  #bg-post{
    background: linear-gradient(to left ,rgba(185, 146, 15, 0.699),white);
    margin-top: 0%;
    width: 176%;
    height: 100%;
    margin-left: auto;
    margin-left: auto;
  }

  p
  {
    font-size:9px;
  }


  #margitop{
    margin-top: 10%;
  }
  #btnplus{
    //margin-right: auto;
    // margin-left: auto;
    border-radius: 49px;
    margin-top: auto;
    margin-right: auto;
    height: 100%;
    width: auto;
  }
}
