<!--
  Generated template for the SearchMuseumPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
     <ion-title>doctors and pharmacists</ion-title>
     <ion-buttons end>
        <button ion-button (click)="allMuseumMap()">
        <ion-icon ios="ios-pin" md="md-pin"></ion-icon>All </button>
      </ion-buttons> 
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-input type="text" placeholder="Search Museum..." (input)="searchMaps($event)"></ion-input>

  <ion-list *ngIf="!isfiltered">
    <ion-item *ngFor="let museum of museumList" (click)="itemTapped($event, museum)">
      <h2><ion-icon ios="ios-pin" md="md-pin"></ion-icon>{{museum.name}}</h2>
      <p>State name: {{museum.state}}</p>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="isfiltered">
    <ion-item *ngFor="let museum of filteredMuseum" (click)="itemTapped($event, museum)">
      <h2><ion-icon ios="ios-pin" md="md-pin"></ion-icon>{{museum.name}}</h2>
        <p>State name: {{museum.state}}</p>
    </ion-item>
  </ion-list>
</ion-content>